# authentication
../auth-service/src/main/resources-env/local/application-auth.properties
../auth-service/src/main/resources-env/dev/application-auth.properties
../auth-service/src/main/resources-env/prod1/application-auth.properties
# db
../auth-service/src/main/resources-env/local/application-db.properties
../auth-service/src/main/resources-env/dev/application-db.properties
../auth-service/src/main/resources-env/prod1/application-db.properties
# default
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.env.local
.env.dev
.env.prod